body{
    background-color: #6c757d;
}
.box{
    display: grid;
    grid-template-columns: 320px 20px 20px 30px;
    grid-template-rows: 130px 130px 130px 130px;
}
.box div{
    background-color: cadetblue;
    font-size: 2rem;
    /* height: 50px;
    width: 100px; */
}